In [1]:
import pandas as pd

In [5]:
%%time
manzana_gse = pd.read_csv("../data/GIS/inicial/gse/pedro_pruebas_geo_data_cityblocks_unique_gse.csv")
manzana_gse.head()

CPU times: user 2.62 s, sys: 100 ms, total: 2.72 s
Wall time: 2.72 s

,MANZ_EN,code_region,code_province,code_commune,code_district,code_zone,code_cityblock,code_cityblock_unico,total_people,GSE_N,geometry
0,URBANO,4,41,4101,410114,4101141001,4101141001015,4101141001015001,46.0,E,"MULTIPOLYGON (((-71.250941019 -29.875010979,-7..."
1,URBANO,4,41,4101,410114,4101141001,4101141001003,4101141001003001,131.0,D,MULTIPOLYGON (((-71.247221278 -29.872293607999...
2,URBANO,4,41,4101,410114,4101141001,4101141001019,4101141001019001,73.0,D,"MULTIPOLYGON (((-71.248380857 -29.875018554,-7..."
3,URBANO,4,41,4101,410114,4101141001,4101141001033,4101141001033001,45.0,D,MULTIPOLYGON (((-71.247964032 -29.876604203999...
4,URBANO,4,41,4101,410114,4101141001,4101141001009,4101141001009001,55.0,E,MULTIPOLYGON (((-71.2520815729999 -29.87410291...

In [8]:
manzana_gse_x = manzana_gse[manzana_gse['code_region'] == 10]
manzana_gse_x.head()

,MANZ_EN,code_region,code_province,code_commune,code_district,code_zone,code_cityblock,code_cityblock_unico,total_people,GSE_N,geometry
41389,URBANO,10,103,10301,1030114,10301141001,10301141001003,10301141001003001,71.0,D,MULTIPOLYGON (((-73.102163156 -40.579605602999...
41390,URBANO,10,103,10301,1030114,10301141001,10301141001012,10301141001012001,34.0,C2,MULTIPOLYGON (((-73.0876599599999 -40.58217051...
41391,URBANO,10,103,10301,1030114,10301141001,10301141001013,10301141001013001,18.0,C1b,MULTIPOLYGON (((-73.088656328 -40.582210707999...
41392,URBANO,10,103,10301,1030114,10301141001,10301141001018,10301141001018001,70.0,C3,MULTIPOLYGON (((-73.0918730389999 -40.58243807...
41393,URBANO,10,103,10301,1030114,10301141001,10301141001002,10301141001002001,128.0,C3,MULTIPOLYGON (((-73.098008055 -40.578370698999...